/*.body-content {*/
/*  padding-bottom: 50px;*/
/*}*/

html {
  scroll-behavior: smooth;
}

.emoji {
  height: 22px;
  vertical-align: text-bottom;
}

.section p img {
  display: inline;
  margin-left: 0px;
  margin-right: 0px;
}

.section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.section p img {
  padding-bottom: 0px;
}

.doctest-block {
  color: white;
  background-color: black;
}

.youtube-video {
  text-align: center;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

#footer {
  bottom: 0px;
  padding-top: 10px;
  background-color: #000000;
  color: #999;
  width: 100%;
  z-index: 2000;
}

a {
  color: #ff0000
}

a:hover {
  color: black;
  text-decoration: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 10px 10px 10px;
}

/*! SOURCE: http://getbootstrap.com/examples/blog/blog.css !*/

/*
 * Globals
 */

body {
  font-family: 'LatoLatinWebMedium', sans-serif;
  font-weight: normal;
  color: #555;
  margin: 0 !important;
  padding: 0 !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 10px 10px 10px 10px;
  font-family: 'LatoLatinWebMedium', sans-serif;
  font-weight: normal;
  color: #ff0000;
}

b, strong, em {
  color: #ff0000;
}

img {
  max-width: 100%;
}

article img, article object {
  margin: 20px 0 20px 0;
}
/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */

.cookiealert {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 2050;
  display: none;
  border-radius: 0;
  color: #999;
  background-color: #000000;
}

.cookiealert.show {
  margin-top: 5px;
  margin-bottom: 0;
  display: inline;
}

.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/*
 * Masthead for nav
 */

.blog-masthead {
  top: 0;
  width: 100%;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

#content {
  background-color: transparent;
}

/* Nav links */
a.blog-nav-item span {
  margin-left: 5px;
  display: none;
}

a.blog-nav-item:hover span {
  display: inline-block;
  position: absolute;
  top: 36px;
  left: -12px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  vertical-align: center;
  background-color: #000000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.blog-nav-item-aside {
  font-style: italic;
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #CDDDEB;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #FF0000;
  text-decoration: none;
}

.blog-nav {
  position: -webkit-sticky;
  position: sticky;
  padding: 0 15px 0 15px;
  top: 0;
  width: 100%;
  z-index: 2000;
  background-color: #000000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */
#blog-title {
  display: none;
}
.blog-header {
  padding: 10px 15px 0 15px;
  background-color: #000000;
}
.blog-title {
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

@media (max-width: 600px) {
  .blog-description {
    font-size: 10px;
  }
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  border: 2px solid #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module .icons li {
  display: inline;
  font-size: 32px;
  margin-right: 5px;
}

.sidebar-module img {
  margin-bottom: 15px;
  #border: 2px solid #f5f5f5;
  border-radius: 4px;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 5px 20px;
  text-align: center;
  border-radius: 4px;
}

.tags > li, .badge {
  border-radius: 4px;
  background-color: #000000;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 200%;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */

.blog-footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Overrides
 */

.body-content {
  padding-top: 15px;
}

.lead {
  margin-bottom: 0;
  text-align: right;
}

#logo {
  max-width: 100%;
}

.lead span {
  color: #ff0000;
}

/*
 * Newsletter (Active Campaign)
 */
#_form_3_ .input-group, #_form_5_ .input-group {
  padding-bottom: 5px;
}

.input-group {
  width: 100%;
}

#basic-lastname-group {
  display: None;
}

.input-group-addon {
  width: 33%;
}

#_form_5_ .input-group-addon {
  width: 20%;
}

@media (max-width: 600px) {
  .input-group-addon {
    width: 20%;
  }
}

.input-group .form-control {
  width: 100%;
}

